.hero-image{
    width: 200px;
    height: auto;
    margin: 0 auto 40px 0;
    
}

.vids_container{
    width: 500px;
    max-width: 100%;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 9px 1px #80808069;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    

}
.video_element{
    
    width: 100%;
    height: auto;
    border-radius: 20px;

}

.point_icon{
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 15px rgb(16 110 234 / 12%);
    
    border-radius: 50%;
    margin-right: 10px;


    
}
.point_image{
    width: 80%;
    height: auto;
}

.compoenents_item{
    margin-top: 10px;
}

.member-img{
    height: 80px;
    width: 80px;
    min-width:  80px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-left: 15px;
}

.member-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 400%;
    margin: auto
}
.member{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}
.social{
    display: none;
}